`/users/{username}/tokens` REST API endpoint uses invalid `application/json; charset=UTF-8` `Content-Type`

### Gogs version

0.14.3

### Git version

- Server: 2.54.0
- Client: 2.54.0


### Operating system

NixOS 26.05

### Database

SQLite 3

### Describe the bug

When you use [the `/users/{username}/tokens` REST API endpoint](https://gogs.io/api-reference/users/create-an-access-token), Gogs’s response will use `application/json; charset=UTF-8` as the response’s `Content-Type`. `application/json; charset=UTF-8` is an invalid media type. [Here’s what the IANA Media Types registry has to say about the `application/json` media type:](https://www.iana.org/assignments/media-types/application/json)

<blockquote><pre>Required parameters:  n/a&NewLine;&NewLine;Optional parameters:  n/a&NewLine;&NewLine;[…]&NewLine;&NewLine;Published specification:  RFC 8259&NewLine;&NewLine;[…]&NewLine;&NewLine;Note:  No "charset" parameter is defined for this registration.&NewLine;   Adding one really has no effect on compliant recipients.</pre></blockquote>

It’s not valid to include a `charset` parameter in an `application/json` media type because doing so would be redundant. [Section 8.1 of RFC 8259 already specifies that we must use UTF-8:](https://www.rfc-editor.org/info/rfc8259/#section-8.1)

<blockquote><pre>   JSON text exchanged between systems that are not part of a closed
   ecosystem MUST be encoded using UTF-8 [<a href="https://www.rfc-editor.org/info/rfc3629/">RFC3629</a>].</pre></blockquote>

### To reproduce

Run this command:

```bash
curl
    --location-trusted \
    --fail \
    --header "Authorization: Basic $(printf '%s' <username>:<password> | base64)" \
    --header 'Content-Type: application/json' \
    --data-binary '{"name": "ExampleToken"}' \
    --write-out %{content_type} \
    --output /dev/null \
    <your Gogs instance>/api/v1/users/<username>/tokens
```

### Expected behavior

When using the `/users/{username}/tokens` REST API endpoint, Gogs should use `application/json` as the response’s `Content-Type` instead of `application/json; charset=UTF-8`.

### Additional context

_No response_

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

Thanks for the report, however, I don't think it matters at all. Quoting from your quote

>Adding one really has no effect on compliant recipients.

Which means it is fine either way per spec.