Add XMPP URI support (RFC5122)

### Describe the feature

Dear @gogs team,

In first, I wish you a Happy New Year 2022!

Can you see for add XMPP URI support?
XMPP URI support must be added because it does not work.

Examples:
- xmpp:username@domain.tld
- xmpp:username@domain.tld?message
- xmpp:mucroom@domain.tld?join

It is a standard:
- RFC5122: https://tools.ietf.org/html/rfc5122

Can you update it and solves this big bug?

-----------------------------

1/ In file like README

2/ In issue/pr/ticket/comment

3/ In user/organization and repository description too

-------------------------------

Thanks in advance.

### Describe the solution you'd like

That it works:
- xmpp:username@domain.tld
- xmpp:username@domain.tld?message
- xmpp:mucroom@domain.tld?join

### Describe alternatives you've considered

None

### Additional context

None

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

Hey @Neustradamus, could you explain why does Gogs need to support XMPP? What is XMPP used for?

@unknwon: Thanks for your reply!

In issue/pr/ticket/comment/wiki/project.

In file, like README etc.

In user/organization and repository description too...

Hm!

@Neustradamus, after trying to understand what you wanted to accomplish (first, I thought you wanted to add XMPP web hooks or getting notifications via XMPP when a repository was updated...), I just did a very, very simple test: add a XMPP link to one `README.md`, and see what happens!

As you so well noticed, it does _not_ work.

FYI, [GitHub doesn't work with XMPP links, either...](xmpp:gwyneth.llewelyn@jabber.de?message) [🡨 this is actually a XMPP link!] so it's not just Gogs :)

While we can't fix GitHub, we can fix Gogs :-)

Essentially, Gogs, like most Go applications these days, relies on [BlackFriday](https://github.com/russross/blackfriday) to parse Markdown. That's the _de facto_ Golden Standard of Markdown renderers for Go, so it seems to be the best and most reasonable choice to use, too. That way, @unknwon can focus on what is important and delegate the hard work of doing a full Markdown parser to a team of BlackFriday volunteers that has essentially done everything that could ever be done.

BlackFriday, however, only renders a limited subset of URI schemes:

- `http://`
- `https://`
- `ftp://`
- `mailto://`

That's it. Everything else is filtered out. And, AFAIK, `mailto:` URI schemes are _not_ supposed to be followed with two forward slashes. Anyway, at the time of writing this, a few BlackFriday users were asking for support for other URI schemes, and the suggestion was to [change line 824 on the source code](https://github.com/russross/blackfriday/blob/e96880f42b9343aea6cbfd99693adae0e5fe2b2a/inline.go#L824) and recompile.

Nevertheless, Gogs actually wraps some code around BlackFriday and does some pre-URI-validation. I understand that this is needed to rewrite certain special links, such as those within a Gogs repository, before they get parsed by the Markdown renderer. It looks like the idea is that 'normal' links are immediately sent to BlackFriday, while non-standard ones (ie. not http/https/ftp) are pre-processed by Gogs' own renderer first. The check for valid URI schemes is done [here](https://github.com/gogs/gogs/blob/dfe8fbde8449bc709e5d0bf6657fd356ebbf1fd9/internal/markup/markdown.go#L38) and uses the following regexp:

`^[a-z][\w-]+://|^mailto:`

As you can see, XMPP is excluded from that check; a quick  & dirty fix would be just add it to the end:

`^[a-z][\w-]+://|^mailto:|^xmpp:`

and recompile... and see what happens.

If that's all it takes, I'd guess that it's feasible :-)

But if BlackFriday needs to be changed first... well, maintaining a fork of BlackFriday with just a one-line change may really be overkill, so perhaps you might add your feature request on the BlackFriday issues page instead? Once they add that support, the next recompile of Gogs with the latest libraries should pick the change immediately and work out of the box...

At least, that's what it seems to me! I'm not an expert here :)

@GwynethLlewelyn wow, thanks for a great writeup!

@Neustradamus I was actually going to ask... is there any working example you could point me to so I can understand how a XMPP link is supposed to work in a browser?

@unknwon: There are several XMPP clients installers which add XMPP URI, for example, Psi+, Gajim.

This page needs an update but you can look:
- https://wiki.xmpp.org/web/XMPP_URIs

XMPP URI is like mailto....

I was taking a look again at the regexp that filters out valid from invalid schemes (why is `mailto:` treated as an exception?) and the [Wikipedia lists the actual syntax](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Syntax).  (adapted from the 2005 [RFC3986 (section 3)](https://datatracker.ietf.org/doc/html/rfc3986#section-3); this, in turn, is part of the official Internet Standards, namely, [STD66](https://www.rfc-editor.org/info/std66)). This also allows for schemes such as `tel:` (on mobile phones, it will automatically call the number), which also do not use a slash to separate path elements.

This means that a regexp to check for all _valid_ schemes should be something more like this:

`^[a-zA-Z][a-zA-Z0-9-+.]+:(//)?`
  
(This also allows for uppercase letters, and excludes underscores which are not allowed as scheme names, but please _always_ re-check my regexps!!)

Actually, the `//` is not strictly part of the _scheme_ itself, but rather an indication that what follows is a hostname; protocols that do not have _explicit_ hostnames (such as email, or USENET news...) but rather _implicit_ ones, will **never** have a `//`. But, alas, this can quickly become impossibly complicated to follow, and some shortcuts are inevitable, although it's a good practice to make sure that whatever is legal/official is allowed.

The full (official) list of currently registered schemes is provided by [IANA](https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml). This list gets updated regularly, but I'd say that it's really overkill to import it every time! (you can get it in XML format for that purpose)

That list also shows which schemes are 'provisional' and which are 'permanent' (even if obsolete); `xmpp:` is **permanent** since at least [February 2008](https://www.rfc-editor.org/rfc/rfc5122.html).

Thank you both @Neustradamus and @GwynethLlewelyn!

> As you can see, XMPP is excluded from that check; a quick & dirty fix would be just add it to the end:
> 
> `^[a-z][\w-]+://|^mailto:|^xmpp:`
> 
> and recompile... and see what happens.

I think this is what I would try first as well, looks easy.

Have you progressed on it?

> Have you progressed on it?

Not that I'm aware of, you're welcome to contribute :)

lol @Neustradamus  — by sheer coincidence, I dropped here on Gogs just to make sure I didn't miss any recent releases, and I saw this message of yours...

You're right — it's been exactly **four years** since you first reported it, and, AFAIK, no changes were made yet.

So, I forked the code and submitted to @unknwon a [new PR](https://github.com/gogs/gogs/pull/8090). This will not only allow `xmpp` but accept all URIs defined by the RFCs (i.e., all that are considered valid), while explicitly rejecting those that are invalid.

More information can be found on the PR itself :)